python-telegram-bot==20.0
firebase-admin==6.3.0
PyGithub==1.59.1
apscheduler==3.10.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
python-dotenv==1.0.1
pycryptodome==3.20.0
pytz==2024.1
qrcode==7.4.2
psutil==5.9.8

